@tailwind base;
@tailwind components;
@tailwind utilities;

.heading{
  text-align: center;
}
.todo_app{
  text-align: center;
  width: 50%;
  margin: auto;
}
.check_list{
  display: inline-flex;
}
.check_list li{
  list-style-type: none;
}
.container{
    text-align: center;
    margin: auto;
    margin-top: 100px;
}